<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
      <center>  <h1>Welcome, NIELIT Admin!</h1>
        <ul class="list-group"><h2>
            <li class="list-group-item"><a href="{{ url_for('add_topic') }}">Add New Topic</a></li>
            <li class="list-group-item"><a href="{{ url_for('list_users') }}">Manage Users</a></li>
            <li class="list-group-item"><a href="{{ url_for('list_topics') }}">Manage Topics</a></li>
     </h2>   </ul>
      
        <a href="/" class="btn btn-primary mt-3">Homepage</a>
      <a href="{{ url_for('logout') }}" class="btn btn-danger mt-3">Logout</a>
        </center>
    </div>
    
    <!-- Add Bootstrap JS and jQuery scripts (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
