<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="NIELIT Chandigarh AIML" />
    <meta name="author" content="NIELIT Chandigarh" />
    <title>AI &amp; ML - NIELIT CHANDIGARH</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/2e4e1fd5-3063-4ad2-9509-f801ce34a838/favicon-16x16.png?v=1689957787870" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
      <style>
        /* Check css/styles.css file it contains all the styles included modify as per your needs */
        /* Other CSS styles */
    </style>
</head>
<body>
    <!-- Logo -->
    <div class="container px-4 px-lg-5 my-3 text-center">
        <img src="https://cdn.glitch.global/2e4e1fd5-3063-4ad2-9509-f801ce34a838/NIELIT-Preview-removebg-preview.png?v=1689957175488" alt="NIELIT Logo" class="img-fluid" style="max-height: 100px;" />
    </div>

    <!-- Header - Introduction to AI & ML -->
     <header class="bg-dark py-5">
     <!-- Date badge -->
      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; left: 0.5rem">Date:  {{date}}</div>
       <!-- Time badge-->
       <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Time: {{time}}</div>
        <div class="container px-4 px-lg-5 my-5 header-content">
            <div class="text-center text-white">
    <h1 class="display-4 fw-bolder">Welcome to the Artificial Intelligence &amp; Machine Learning With NIELIT Chandigarh</h1>
    <p class="lead fw-normal mb-0 btn btn-dark">Good {{ time_of_day }}, {{ username }}! Explore the exciting world of Artificial Intelligence &amp; Machine Learning</p>
      </div>
        </div>
    </header>


    <!-- Section - AI & ML Topics -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5">
                <!-- Row 1 -->
    {% if topics %}
        <div class="row">
            {% for topic in topics %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="{{ topic.topic_image }}" alt="{{ topic.topic_name }}" class="card-img-top" style="height: 200px;">
                        <div class="card-body"><center>
                            <h3 class="card-title">{{ topic.topic_name }}</h3>
                            <p class="card-text">{{ topic.topic_details }}</p>
                            <a href="{{ topic.pdf_link }}" target="_blank" class="btn btn-outline-dark mt-auto">View Attachement</a>
                       </center> </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No topics available.</p>
    {% endif %}
                    </div>
                </div>
    </section> 
  <center> {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %} </center>
 <!-- Footer Section-->
        <footer class="py-5 bg-dark">
  <div class="container">
    <!-- Logout Badge -->
<div class="badge bg-light text-white position-absolute" style="top: 0.5rem; left: 0.5rem">
     <a href="/logout" target="_blank" class="logout-link"> LOG OUT </a>
</div>
     <!-- Admin badge-->
       <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><a href="/admin" target="_blank" class="admin-link">Admin Panel</a></div>
    <!-- Special Badge -->
<div class="badge bg-link text-white position-absolute" style="bottom: 0.5rem; left: 0.5rem">
    Official Website: <a href="https://www.nielit.gov.in/chandigarh/index.php" target="_blank">NIELIT Chandigarh</a>
</div>
    <div class="social-icons">
      <!-- URLs of social media profiles -->
      <a href="https://www.facebook.com/RPR.NIELIT" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com/chd_nielit" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://instagram.com/nielitchandigarh" target="_blank"><i class="bi bi-instagram"></i></a>
    </div>
    <p class="m-0 text-center text-white">Copyright &copy; NIELIT Chandigarh {{year}} made with &#128151; </p>
   <!-- Display the visitor count -->
    <center>
        <p class="btn btn-info m-0 text-center text-white"><b>Total visitors: {{visitor_count}} </b></p>
    </center>
      </div>
          
</footer>
  
<!-- Go to top button -->
<a href="#top" class="go-to-top" title="Go to Top"><i class="bi bi-arrow-up-circle"></i></a>


    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS -->
    <script src="static/js/scripts.js"></script>
</body>
</html>